@font-face {
    font-family: "Bold";
    src: url("../MEDIA/fonts/Montserrat-Bold.ttf");
  }
@font-face {
    font-family: "Medium";
    src: url("../MEDIA/fonts/Montserrat-Medium.ttf");
  }
@font-face {
    font-family: "Regular";
    src: url("../MEDIA/fonts/Montserrat-Regular.ttf");
  }


  :root{
    --title-blue: #2c4674;
    --title-white: #ffffff;
    --home-blue: #2c4674;
    --home-whiteblue: #c8daff;
    --search-green: #519e8a;
    --search-orange: #d1723f;
    --search-backgreen: #cbe0db;
    --search-backwhite: #e8dbd4;

  }
*{
    font-family: "Regular";
    padding: 0;
    margin: 0;
    text-decoration: none;
    outline: none;
    border: none;
    transition: 0.5s;
 

}
.Main{
    display: flex;
    justify-content: center;
    align-items: center;
}
.body{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 414px;
    height: 800px;
    background-image: linear-gradient(to top, #2c4674, #c8daff );
    border-radius: 30px;

    


}
.Conatiner{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.FalseIcon{
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: blue;
}
.TrueIcon{
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: var(--title-white);
}

.RadioConatiner{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 20%;
}
.Text-Conatiner{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50%;
  gap: 20px;
}
.Title{
    font-family: "Regular";
    font-size: 64px;
    color: blue;

}
.Sub-Title{
    text-align: center;
    font-size: 18px;
    color: var(--title-white);
    width: 80%;
}
.Container-Img{
    display: flex;
    align-items: end;
    justify-content: left;
    height: 100%;
    width: 414px;
    position: relative;
    overflow: hidden; 
    border-radius: 30px;
}
.Home-Img1{
    background-image: url("/MEDIA/images/0-home/slide1.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    width: 400px;
    overflow-y: hidden;
    position: absolute;
    transition: transform 0.9s ease;
    transform: translateY(70px); 

}
.Home-Img2{
    background-image: url("/MEDIA/images/0-home/slide2.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 490px;
    width: 414px;
    overflow-y: hidden;
    position: absolute;
    transition: transform 0.9s ease;
    transform: translateY(70px); 
}
.Home-Img2:target  .Home-Img2{
    transform: translateY(10px); 
}

.ConatinerRigth{
    display: flex;
    justify-content:center;
    align-items: center;
    bottom: 20px;
    width: 100%;
    position: relative;


}
.ConatinerButtom:hover  {
    transform: scale(110%) rotate(90deg);
}
.ConatinerButtom{
    display: flex;
    justify-content:center;
    align-items: center;
    background-color: var(--home-blue);
    border-radius: 100%;
    width: 60px;
    height: 60px;
}

.Buttom-Rigth{
    background-image: url("/MEDIA/images/0-home/chevron-right.svg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 50px;
    height: 50px;
}