@font-face {
    font-family: "Bold";
    src: url("../MEDIA/fonts/Montserrat-Bold.ttf");
  }
@font-face {
    font-family: "Medium";
    src: url("../MEDIA/fonts/Montserrat-Medium.ttf");
  }
@font-face {
    font-family: "Regular";
    src: url("../MEDIA/fonts/Montserrat-Regular.ttf");
  }


  :root{
    --title-blue: #2c4674;
    --title-white: #ffffff;
    --home-blue: #2c4674;
    --home-whiteblue: #c8daff;
    --search-green: #519e8a;
    --search-orange: #d1723f;
    --search-backgreen: #cbe0db;
    --search-backwhite: #e8dbd4;

  }
*{
    font-family: "Regular";
    padding: 0;
    margin: 0;
    text-decoration: none;
    outline: none;
    border: none;
    transition: 0.5s;
    user-select: none;


}
.Body{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
    .Main{
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0px;
        
    }
    .body{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        width: 414px;
        height: 800px;
        background-color: #cbe0db;
    }
    .bodyCat{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        width: 414px;
        height: 800px;
        background-color: var(--search-backwhite);
    }
    .header{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        height: 10%;
        width: 90%;
    }
    .Title{
        font-size: 18px ;
        font-weight: 500px;
        color: #ffff;
    }
    
    .containerbackIcon{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        transform: translateX(0px);


    }
    .containerbackIcon:hover{
        transition: tranform 0.4s ease-out;
        transform: translateX(-10px);
    }
    .backicon{
        background-image: url("./MEDIA/images/1-search/chevron-left.svg");
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 100%;


    }
    .containerburg{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 20px;
        height: 20px;
        z-index: 6;
        
    }
    .burger{
        background-image: url("./MEDIA/images/1-search/menu-open.svg");
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 100%;
    }
    .ConatinerInput{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 10%;
    
    }
    .iconseach{
        background-image: url("./MEDIA/images/1-search/search.svg");
        background-repeat: no-repeat;
        background-size: cover;
        width: 20px;
        height: 20px;
        position: relative;
        left: 40px;
    }
    .searchinput{
        width: 70%;
        padding: 10px 40px;
        font-size: 18px;
        border-radius: 20px;
        height: 20px;
    }
    .ConatinerOP{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
        height: 10%;
        user-select: none;

    }
    .ButtonDogsDog{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: left;
        gap: 40px;
        background-color: var(--search-green);
        width: 40%;
        border-radius: 50px;
        padding: 10px;

    }
    .ButtonDogs{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: left;
        gap: 40px;
        background-color: var(--title-white);
        width: 40%;
        border-radius: 50px;
        padding: 10px;

    }
    .ButtonDogs:hover,
    .ButtonCat:hover{
        /* transition: tranform 0.3s ease; */
        transform: scale(105%); 
        transition: transform 0.3s ease;

    }
    .ButtonCatDog{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: left;
        gap: 40px;
        background-color: var(--title-white);
        width: 40%;
        border-radius: 50px;
        padding: 10px;

        
    }
    .ButtonCat{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: left;
        gap: 40px;
        background-color: var(--search-orange);
        width: 40%;
        border-radius: 50px;
        padding: 10px;

        
    }
    .iconDog{
        background-image: url("./MEDIA/images/1-search/fa-solid_dog.svg");
        background-repeat: no-repeat;
        background-size: cover;
        width: 30px;
        height: 30px;

    }
    .iconDogDog{
        background-image: url("./MEDIA/images/1-search/fa-solid_dog_white.svg");
        background-repeat: no-repeat;
        background-size: cover;
        width: 30px;
        height: 30px;

    }
    .iconcatDog{
        background-image: url("./MEDIA/images/1-search/fa-solid_cat.svg");
        background-repeat: no-repeat;
        background-size: cover;
        width: 30px;
        height: 30px;

    }
    .iconcat{
        background-image: url("./MEDIA/images/1-search/fa-solid_cat_white.svg");
        background-repeat: no-repeat;
        background-size: cover;
        width: 30px;
        height: 30px;

    }
    .textdog{
        color: var(--title-blue);
        font-size: 18px;
        font-weight: 500px;
    }
    .textdogDog{
        color: var(--title-white);
        font-size: 18px;
        font-weight: 500px;
    }
    .textcatDOG{
        color: var(--title-blue);
        font-size: 18px;
        font-weight: 500px;
    }
    .textcat{
        color: var(--title-white);
        font-size: 18px;
        font-weight: 500px;
    }
    .ContainerDogs{
        display: flex;
         flex-wrap: wrap;
         justify-content: center;
        width: 100%;
        gap: 20px;
    }
    .Conatiner:hover .ConatinerInfo{
        background-color: var(--search-green);
    }
    .Conatiner:hover .cardDog{
        background-color: var(--title-white);
    }
    .Conatiner:hover .ConatinerInfoCat{
        background-color: var(--search-orange);
    }
    .Conatiner:hover .cardcat{
        background-color: var(--title-white);
    }
  
    
    .cardDog{
        display: flex;
        flex-direction: column;
        border-radius: 40px;
        background-color: var(--search-green);
        height: 250px;
        width: 180px;
        transition: background-color 0.3s ease;
    }
    .cardcat{
        display: flex;
        flex-direction: column;
        border-radius: 40px;
        background-color: var(--search-orange);
        height: 250px;
        width: 180px;
        transition: background-color 0.3s ease;
    }
   

    .ContainerImagem{
        display: flex;
        align-items: end;
        justify-content: center;
        width: 100%;
        height: 100%;
    }
    .Dog1{
        background-image: url("./MEDIA/images/1-search/dogs/benji.png");
        background-repeat: no-repeat;
        background-size: cover;
        height: 160px;
        width: 130px;
        z-index: 1;
        transform: translateY(20px);
        transition: transform 0.3s ease;
    }
    
    .Conatiner:hover .Dog1,
    .Conatiner:hover .Dog2,
    .Conatiner:hover .Dog3,
    .Conatiner:hover .Dog4{
        transform:  translateY(0px);
    }
    .Dog2{
        z-index: 1;
        transform: translateY(20px);
        transition: transform 0.3s ease;
        background-image: url("./MEDIA/images/1-search/dogs/alvan.png");
        background-repeat: no-repeat;
        background-size: cover;
        height: 130px;
        width: 160px;
    }
    .Dog3{
        z-index: 1;
        transform: translateY(20px);
        transition: transform 0.3s ease;
        background-image: url("./MEDIA/images/1-search/dogs/karsten.png");
        background-repeat: no-repeat;
        background-size: cover;
        height: 130px;
        width: 160px;
    }
    .Dog4{
        z-index: 1;
        transform: translateY(20px);
        transition: transform 0.3s ease;
        background-image: url("./MEDIA/images/1-search/dogs/reigner.png");
        background-repeat: no-repeat;
        background-size: cover;
        height: 140px;
        width: 100px;
    }
    .Cat1{
        background-image: url("./MEDIA/images/1-search/cats/ariana.png");
        background-repeat: no-repeat;
        background-size: cover;
        height: 140px;
        width: 170px;
        z-index: 1;
        transform: translateY(20px);
        transition: transform 0.3s ease;
    }.Cat2{
        background-image: url("./MEDIA/images/1-search/cats/remi.png");
        background-repeat: no-repeat;
        background-size: cover;
        height: 160px;
        width: 140px;
        z-index: 1;
        transform: translateY(20px);
        transition: transform 0.3s ease;
    }.Cat3{
        background-image: url("./MEDIA/images/1-search/cats/alex.png");
        background-repeat: no-repeat;
        background-size: cover;
        height: 160px;
        width: 150px;
        z-index: 1;
        transform: translateY(20px);
        transition: transform 0.3s ease;
    }.Cat4{
        background-image: url("./MEDIA/images/1-search/cats/zoe.png");
        background-repeat: no-repeat;
        background-size: cover;
        height: 180px;
        width: 130px;
        z-index: 1;
        transform: translateY(20px);
        transition: transform 0.3s ease;
    }
    .Conatiner:hover .Cat1,
    .Conatiner:hover .Cat2,
    .Conatiner:hover .Cat3,
    .Conatiner:hover .Cat4{
        transform:  translateY(0px);
    }
    .ConatinerInfo{
        z-index: 2;
        display: flex;
        flex-direction: row;
        background-color: #ffff;
        width: 100%;
        height: 60%;
        border-bottom-left-radius: 40px;
        border-bottom-right-radius: 40px;
    }
    .ConatinerInfoCat{
        z-index: 2;
        display: flex;
        flex-direction: row;
        background-color: #ffff;
        width: 100%;
        height: 60%;
        border-bottom-left-radius: 40px;
        border-bottom-right-radius: 40px;
    }
   
    .Info{
        margin-left: 20px;
        display: flex;
        flex-direction: column;
        justify-content: start;
        text-align: left;
        width: 50%;
    }
    .Title{
        font-family: "Bold";
        font-size: 24px;
        color: var(--title-blue);
    }
    .Sub-Title{
        font-size: 12px;
        font-family: "Medium";
        color: var(--title-blue);
    }
    .Conatiner:hover .Title {
        color: var(--title-white);
    }
    .Conatiner:hover .Sub-Title {
        color: var(--title-white);
    }
    .conatinerIcon{
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: center;
        margin-bottom: 20px;
        width: 50%;

    }
    .IconSolid{
        background-image: url("./MEDIA/images/1-search/hearthome.svg");
        background-repeat: no-repeat;
        background-size: cover;
        width: 22px;
        height: 25px;

    }
    .Conatiner:hover .IconSolid{
        background-image: url("./MEDIA/images/1-search/hearthome-white.svg");
    }
  
/* SEARCH Menu CSS */

#menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: transform 1.9s ease-in-out ; 
    transform: translateX(414px);
    width: 414px;
    height: 800px;
    z-index: 6;
    background-color: var(--search-backgreen);
    overflow-x: hidden;
}
#Itens{
    display: none;
}
#menu:target{
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 414px;
    height: 800px;
    z-index: 6;
    background-color: var(--search-backgreen);
    overflow-x: hidden;
    transform: translateX(-1px);
    transition: transform 1.0s ease; 
    border-radius: 1px solid var(--home-blue);
}
.TitleMENU{
    padding-top: 40px;
    color:  var(--title-blue);
    font-size: 24px;
    font-family: "Medium";

}
.ButtonMenuHome{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    gap: 90px;
    background-color: var(--home-blue);
    width: 70%;
    border-radius: 50px;
    padding: 20px;

}
.ButtonMenuDog{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    gap: 90px;
    background-color: var(--search-green);
    width: 70%;
    border-radius: 50px;
    padding: 20px;

}
.ButtonMenuCat{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    gap: 90px;
    background-color: var(--search-orange);
    width: 70%;
    border-radius: 50px;
    padding: 20px;

    
}
.ConatinerMenu{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 20px;
    width: 100%;
    height: 100%;
}

.ButtonMenuDog:hover,
.ButtonMenuHome:hover,
    .ButtonMenuCat:hover{
        transform: scale(105%); 
        transition: transform 0.3s ease;

    }

.IconSolidMenu{
    background-image: url("./MEDIA/images/1-search/fa-solid_home.svg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 25px;
    height: 25px;

}